doctype html
html(lang="es")
head
    title #{titulo}
    link(rel="stylesheet", href="/css/estilos.css")
 
body 
    h1
        a(href="/") Bienvenido a la tienda RCR Video Games Technology

    h2 De momento No encontramos la pagina en el sistema intente mas tarde
    h2 esto debido a que se encuentra en mantenimiento 


div 
img(src="imagenes/mant.jpg", alt="En mantenimiento",width="1000")
br
h2 Disculpe las molestias. Gracias por preferirnos 

